<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
  <body>
  <div class="container-fluid">
  <h1>Gipfel Parser</h1>
  <p>To terminate process add /close to URL path.</p>
  <p>Set input data.</p>
  <p> </p>
  <div class="row">
    <form action="{{ url_for('index') }}" method="POST">
    <div class="col-sm-4" style="">
        <label for="timeout" class="col-2 col-form-label">Timeout</label>
        <input class="form-control" type="number" value="0" name="timeout" id="timeout" aria-describedby="timeoutHelp">
        <small id="timeoutHelp" class="form-text text-muted">Set timout after each 50 item parsing</small>
        <div class="form-check">
         <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="is_logging">
        Logging enabled 
        </label>
        <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="is_daily">
        Daily parsing 
        </label>
      </div>
      <p>  </p>
      <p> </p>
        <input type="submit" class="btn btn-primary active" value="Start Parsing">
    </div>
  </form>

    <div class="col-sm-4" id=log>
        <label for="log">Logging:</label>
        <textarea class="form-control" id="log" rows="8" readonly aria-describedby="logHelp">
          {{ output }}
        </textarea>
        <small id="logHelp" class="form-text text-muted">To get current status update page. WARNING: Don't submit again data unless you want to start new parsing process</small>
        <p></p>
        <p></p>
    </div>

  </div>
  </div>
  </body>
</html>